<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto pt-4 sm:pt-6">
        <div class="mx-auto w-full max-w-screen-xl">
            <!-- Loader -->
            @if (isLoading) {
                <div class="flex justify-center py-8">
                    <mat-progress-spinner
                        mode="indeterminate"
                        diameter="40"
                    ></mat-progress-spinner>
                </div>
            } @else {
                <!-- Transaction Trend (Area Chart) -->
                <div
                    class="bg-card dark flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-3"
                >
                    <div
                        class="ml-10 mr-6 mt-10 flex items-center justify-between sm:mr-10"
                    >
                        <div class="flex flex-col">
                            <div
                                class="mr-4 text-2xl font-semibold leading-7 tracking-tight md:text-3xl"
                            >
                                Transaction Trend
                            </div>
                            <div class="text-secondary font-medium">
                                Total transaction amount over time
                            </div>
                        </div>
                        <div class="ml-2">
                            <mat-button-toggle-group
                                class="hidden space-x-1 border-none sm:inline-flex"
                                value="this-year"
                                #trendYearSelector="matButtonToggleGroup"
                            >
                                <mat-button-toggle
                                    class="overflow-hidden rounded-full border-none px-1.5 font-medium"
                                    value="last-year"
                                >
                                    Last Year
                                </mat-button-toggle>
                                <mat-button-toggle
                                    class="overflow-hidden rounded-full border-none px-1.5 font-medium"
                                    value="this-year"
                                >
                                    This Year
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                            <div class="sm:hidden">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="trendMenu"
                                >
                                    <mat-icon
                                        [svgIcon]="
                                            'heroicons_outline:ellipsis-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #trendMenu="matMenu">
                                    <button mat-menu-item>This Year</button>
                                    <button mat-menu-item>Last Year</button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                    <div class="flex h-80 flex-auto flex-col">
                        <apx-chart
                            class="h-full w-full flex-auto"
                            [chart]="chartTransactionTrend.chart"
                            [colors]="chartTransactionTrend.colors"
                            [dataLabels]="chartTransactionTrend.dataLabels"
                            [fill]="chartTransactionTrend.fill"
                            [grid]="chartTransactionTrend.grid"
                            [series]="chartTransactionTrend.series"
                            [stroke]="chartTransactionTrend.stroke"
                            [tooltip]="chartTransactionTrend.tooltip"
                            [xaxis]="chartTransactionTrend.xaxis"
                            [yaxis]="chartTransactionTrend.yaxis"
                        ></apx-chart>
                    </div>
                </div>

                <!-- Summary Cards -->
                <div
                    class="mt-6 grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4"
                >
                    <!-- Total Transactions -->
                    <div
                        class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                    >
                        <div class="flex items-start justify-between">
                            <div
                                class="truncate text-lg font-medium leading-6 tracking-tight"
                            >
                                Total Transactions
                            </div>
                            <div class="-mr-3 -mt-2 ml-2">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="totalTransactionsMenu"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="
                                            'heroicons_mini:ellipsis-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #totalTransactionsMenu="matMenu">
                                    <button mat-menu-item>Today</button>
                                    <button mat-menu-item>This Week</button>
                                    <button mat-menu-item>This Month</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="mt-2 flex flex-col items-center">
                            <div
                                class="text-7xl font-bold leading-none tracking-tight text-blue-500 sm:text-8xl"
                            >
                                {{ summary.totalTransactions }}
                            </div>
                            <div
                                class="text-lg font-medium text-blue-600 dark:text-blue-500"
                            >
                                Transactions
                            </div>
                            <div
                                class="text-secondary mt-5 flex w-full items-baseline justify-center"
                            >
                                <div class="truncate text-md font-medium">
                                    All Time
                                </div>
                                <div class="ml-1.5 text-lg font-semibold">
                                    {{ summary.totalTransactions }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Total Amount Spent -->
                    <div
                        class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                    >
                        <div class="flex items-start justify-between">
                            <div
                                class="truncate text-lg font-medium leading-6 tracking-tight"
                            >
                                Total Spent
                            </div>
                            <div class="-mr-3 -mt-2 ml-2">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="totalSpentMenu"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="
                                            'heroicons_mini:ellipsis-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #totalSpentMenu="matMenu">
                                    <button mat-menu-item>Today</button>
                                    <button mat-menu-item>This Week</button>
                                    <button mat-menu-item>This Month</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="mt-2 flex flex-col items-center">
                            <div
                                class="text-7xl font-bold leading-none tracking-tight text-red-500 sm:text-8xl"
                            >
                                {{
                                    summary.totalAmountSpent
                                        | currency: 'INR' : 'symbol' : '1.0-0'
                                }}
                            </div>
                            <div
                                class="text-lg font-medium text-red-600 dark:text-red-500"
                            >
                                Debit
                            </div>
                            <div
                                class="text-secondary mt-5 flex w-full items-baseline justify-center"
                            >
                                <div class="truncate text-md font-medium">
                                    All Time
                                </div>
                                <div class="ml-1.5 text-lg font-semibold">
                                    {{
                                        summary.totalAmountSpent
                                            | currency
                                                : 'INR'
                                                : 'symbol'
                                                : '1.0-0'
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Total Amount Received -->
                    <div
                        class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                    >
                        <div class="flex items-start justify-between">
                            <div
                                class="truncate text-lg font-medium leading-6 tracking-tight"
                            >
                                Total Received
                            </div>
                            <div class="-mr-3 -mt-2 ml-2">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="totalReceivedMenu"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="
                                            'heroicons_mini:ellipsis-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #totalReceivedMenu="matMenu">
                                    <button mat-menu-item>Today</button>
                                    <button mat-menu-item>This Week</button>
                                    <button mat-menu-item>This Month</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="mt-2 flex flex-col items-center">
                            <div
                                class="text-7xl font-bold leading-none tracking-tight text-green-500 sm:text-8xl"
                            >
                                {{
                                    summary.totalAmountReceived
                                        | currency: 'INR' : 'symbol' : '1.0-0'
                                }}
                            </div>
                            <div
                                class="text-lg font-medium text-green-600 dark:text-green-500"
                            >
                                Credit
                            </div>
                            <div
                                class="text-secondary mt-5 flex w-full items-baseline justify-center"
                            >
                                <div class="truncate text-md font-medium">
                                    All Time
                                </div>
                                <div class="ml-1.5 text-lg font-semibold">
                                    {{
                                        summary.totalAmountReceived
                                            | currency
                                                : 'INR'
                                                : 'symbol'
                                                : '1.0-0'
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Average Transaction Amount -->
                    <div
                        class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                    >
                        <div class="flex items-start justify-between">
                            <div
                                class="truncate text-lg font-medium leading-6 tracking-tight"
                            >
                                Average Transaction
                            </div>
                            <div class="-mr-3 -mt-2 ml-2">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="averageTransactionMenu"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="
                                            'heroicons_mini:ellipsis-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #averageTransactionMenu="matMenu">
                                    <button mat-menu-item>Today</button>
                                    <button mat-menu-item>This Week</button>
                                    <button mat-menu-item>This Month</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="mt-2 flex flex-col items-center">
                            <div
                                class="text-7xl font-bold leading-none tracking-tight text-amber-500 sm:text-8xl"
                            >
                                {{
                                    summary.averageTransactionAmount
                                        | currency: 'INR' : 'symbol' : '1.0-0'
                                }}
                            </div>
                            <div
                                class="text-lg font-medium text-amber-600 dark:text-amber-500"
                            >
                                Amount
                            </div>
                            <div
                                class="text-secondary mt-5 flex w-full items-baseline justify-center"
                            >
                                <div class="truncate text-md font-medium">
                                    All Time
                                </div>
                                <div class="ml-1.5 text-lg font-semibold">
                                    {{
                                        summary.averageTransactionAmount
                                            | currency
                                                : 'INR'
                                                : 'symbol'
                                                : '1.0-0'
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Transaction Distribution and Recent Transactions -->
                <div
                    class="mt-6 grid w-full min-w-0 grid-cols-1 gap-6 md:grid-cols-2"
                >
                    <!-- Transaction Distribution (Left) -->
                    <div
                        class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                    >
                        <div class="flex items-start justify-between">
                            <div
                                class="truncate text-lg font-medium leading-6 tracking-tight"
                            >
                                Transaction Distribution
                            </div>
                            <div class="-mr-3 -mt-2 ml-2">
                                <mat-button-toggle-group
                                    class="hidden space-x-1 border-none sm:inline-flex"
                                    value="this-week"
                                    #distributionWeekSelector="matButtonToggleGroup"
                                >
                                    <mat-button-toggle
                                        class="overflow-hidden rounded-full border-none px-1.5 font-medium"
                                        value="last-week"
                                    >
                                        Last Week
                                    </mat-button-toggle>
                                    <mat-button-toggle
                                        class="overflow-hidden rounded-full border-none px-1.5 font-medium"
                                        value="this-week"
                                    >
                                        This Week
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                                <div class="sm:hidden">
                                    <button
                                        mat-icon-button
                                        [matMenuTriggerFor]="distributionMenu"
                                    >
                                        <mat-icon
                                            [svgIcon]="
                                                'heroicons_outline:ellipsis-vertical'
                                            "
                                        ></mat-icon>
                                    </button>
                                    <mat-menu #distributionMenu="matMenu">
                                        <button mat-menu-item>This Week</button>
                                        <button mat-menu-item>Last Week</button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                        <div class="text-secondary mt-2 text-center">
                            {{ transactionDistributionPeriod }}
                        </div>
                        <div
                            class="flex h-64 flex-auto flex-col items-center justify-center"
                        >
                            <apx-chart
                                class="h-full w-full"
                                [chart]="chartTransactionDistribution.chart"
                                [series]="chartTransactionDistribution.series"
                                [labels]="chartTransactionDistribution.labels"
                                [colors]="chartTransactionDistribution.colors"
                                [legend]="chartTransactionDistribution.legend"
                                [responsive]="chartTransactionDistribution.responsive"
                            ></apx-chart>
                        </div>
                        <div class="mt-4 flex justify-around">
                            <div class="text-center">
                                <div class="text-3xl font-bold">
                                    {{
                                        transactionDistribution.totalSpent
                                            | currency
                                                : 'INR'
                                                : 'symbol'
                                                : '1.0-0'
                                    }}
                                </div>
                                <div class="text-secondary">Total Spent</div>
                            </div>
                            <div class="text-center">
                                <div class="text-3xl font-bold">
                                    {{
                                        transactionDistribution.totalReceived
                                            | currency
                                                : 'INR'
                                                : 'symbol'
                                                : '1.0-0'
                                    }}
                                </div>
                                <div class="text-secondary">Total Received</div>
                            </div>
                        </div>
                    </div>

                    <!-- Recent Transactions (Right) -->
                    <div
                        class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                    >
                        <div class="flex items-start justify-between">
                            <div
                                class="truncate text-lg font-medium leading-6 tracking-tight"
                            >
                                Recent Transactions
                            </div>
                            <div class="-mr-3 -mt-2 ml-2">
                                <mat-button-toggle-group
                                    class="hidden space-x-1 border-none sm:inline-flex"
                                    value="today"
                                    #recentDaySelector="matButtonToggleGroup"
                                >
                                    <mat-button-toggle
                                        class="overflow-hidden rounded-full border-none px-1.5 font-medium"
                                        value="yesterday"
                                    >
                                        Yesterday
                                    </mat-button-toggle>
                                    <mat-button-toggle
                                        class="overflow-hidden rounded-full border-none px-1.5 font-medium"
                                        value="today"
                                    >
                                        Today
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                                <div class="sm:hidden">
                                    <button
                                        mat-icon-button
                                        [matMenuTriggerFor]="recentMenu"
                                    >
                                        <mat-icon
                                            [svgIcon]="
                                                'heroicons_outline:ellipsis-vertical'
                                            "
                                        ></mat-icon>
                                    </button>
                                    <mat-menu #recentMenu="matMenu">
                                        <button mat-menu-item>Today</button>
                                        <button mat-menu-item>Yesterday</button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                        <div class="text-secondary mt-2 text-center">
                            {{ recentTransactionsPeriod }}
                        </div>
                        <div class="mt-4">
                            @if (recentTransactions.length > 0) {
                                <div class="space-y-4">
                                    @for (
                                        transaction of recentTransactions;
                                        track trackByFn($index, transaction)
                                    ) {
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <div>
                                                <div class="font-medium">
                                                    {{
                                                        transaction.description
                                                    }}
                                                </div>
                                                <div
                                                    class="text-secondary text-sm"
                                                >
                                                    {{
                                                        transaction.transaction_date
                                                            | date
                                                                : 'shortTime'
                                                                : 'UTC'
                                                    }}
                                                    • {{ transaction.category }}
                                                </div>
                                            </div>
                                            <div class="flex items-center">
                                                <div
                                                    class="text-lg font-semibold"
                                                >
                                                    {{
                                                        transaction.amount
                                                            | currency
                                                                : 'INR'
                                                                : 'symbol'
                                                                : '1.0-0'
                                                    }}
                                                </div>
                                                <mat-icon
                                                    class="ml-2"
                                                    [svgIcon]="
                                                        'heroicons_outline:chevron-right'
                                                    "
                                                ></mat-icon>
                                            </div>
                                        </div>
                                    }
                                </div>
                            } @else {
                                <div class="text-secondary text-center">
                                    No transactions available.
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
